<h1>Results for <%= @searched_item %>: </h1>

<p><%= @amazon_list.count %> items were returned from your search</p>
<%# ad_builder(@searched_item.name)%>
<% @amazon_list.each_with_index do |t, i| %>
  <div class="amazon_list">
    <%= link_to(image_tag(t['pic']), t['url'].to_s) %>
    <%= t['title'] %>
    <%= t['price']%>
    <%= link_to "+ Santa's Saddlebag", '#', class: "btn", id: "#{i.to_s}" %>
  </div>
<%end%>

