<h1>Results for <%= @searched_item %>: </h1>

<p><%= @amazon_list.count %> items were returned from your search</p>

<ul>
  <% @amazon_list.each_with_index do |t, i| %>
    <div class="amazon_list" id="<%= i %>">
      <li class="name"><%= t['title'] %></li>
      <li class="url"><%= hidden_field_tag(:filter_only, t['url']) %></li>
      <li class="pic"><%= link_to(image_tag(t['pic'], id: "#{i.to_s}", class: "align-center"), t['url'].to_s) %></li>
      <li class="price">Price: <%= t['price']%></li>
      <div class="add">
        <%= link_to "+ Santa's Saddlebag", '#', class: "btn btn-to-saddlebag", id: "#{i.to_s}" %>
      </div>
    </div>
  <%end%>
</ul>

