<header class="master-header">
  <nav>
    <ul>
      <li><%= link_to "The Cyclist in your Life", root_url %></li>
      <% if current_user %>
        <li><%= link_to "Get me outta ere! (Logout)", logout_path, class: "logged_in" %></li>
        <li><%= link_to "My Profile", user_path(current_user)%></li>
        <li><%= link_to "Settings", edit_user_path(current_user)%></li>
      <% else %>
        <li><%= link_to "Registration", registration_path, class: "registration" %></li>
        <li><%= link_to "I want in! (Login)", login_path, class: "not_logged_in" %></li>
      <% end %>
    </ul>
  </nav>
</header>

<div id="dialog-form" title="Tell Santa who you are">
  <p class="validateTips">All form fields are required.</p>

  <form>
  <fieldset>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all"  placeholder = "tell santa your name ... "/>
    <label for="email">Email</label>
    <input type="text" name="email" id="email" value="" class="text ui-widget-content ui-corner-all"  placeholder = "what's your email ... "/>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all" placeholder = "some secret ... " />
    <label for="password">Password Confirmation</label>
    <input type="password" name="password_confirmation" id="password_confirmation" value="" class="text ui-widget-content ui-corner-all" placeholder = "same secret ... " />
  </fieldset>
  </form>
</div>

<div id="login-form" title="Log me in">
  <p class="validateTips">All form fields are required.</p>

  <form>
  <fieldset>
    <label for="email">Email</label>
    <input type="text" name="email" id="email" value="" class="text ui-widget-content ui-corner-all"  placeholder = "what's your email ... "/>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all" placeholder = "some secret ... " />
  </fieldset>
  </form>
</div>