<header class="master-header">
  <nav>
    <ul>
      <li><%= link_to "The Cyclist in your Life", root_url %></li>
      <% if current_user %>
        <li><%= link_to "Get me outta ere!", logout_path, class: "logged_in" %></li>
        <li><%= link_to "My Profile", user_path(current_user)%></li>
        <li><%= link_to "Settings", edit_user_path(current_user)%></li>
      <% else %>
        <li><%= link_to "Registration", registration_path, class: "registration" %></li>
        <li><%= link_to "I want in!", login_path, class: "not_logged_in" %></li>
      <% end %>
    </ul>
  </nav>
</header>

<%= render 'dialogs/user_registration' %>

<%= render 'dialogs/user_login' %>